* {
  box-sizing: border-box;
  border: 1px solid black;
}
body{
  user-select: none;
  background-color: bisque;
  border: 1px solid black;
}
h1{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
#draggable{
  text-align: center;
  background: white;
}
.dropzone{
  width: 200px;
  height: 20px;
  margin: 10px;
  padding: 10px;
}
.flip-btn{
  font-size: 20px;
  background-color: dodgerblue;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  margin-top: 300px;
}
/* Set the styles for the container elements */
.container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid black;
}

/* Set the styles for the card elements */
.card {
  width: 70px;
  height: 100px;
  background-color: rgb(123, 202, 233);
  border: 1px solid black;
  border-radius: 5px;
  margin: 2px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

/* Set the size of the deck */
.deck {
  width: 70px;
  height: 100px;
  background-color:  rgb(123, 202, 233);
  border: 1px solid black;
  border-radius: 5px;
  position: absolute;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  z-index: 1; 
}

/* Set the size of the piles */
.pile {
  width: 120px;
  height: 102px;
  background-color: rgb(123, 202, 233);
  border: 1px solid black;
  border-radius: 5px;
  position: relative;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.pile img{
  position: absolute;
  height: 100%;
  width: 100%;
  border: 2px dashed yellow;
  border-radius: 5px;
}
/* Set the size of the foundation */
.foundation {
  width: 100%;
  max-width: 400px;
  height: 100px;
  background-color: blue;
  border: 3px dashed plum;
  border-radius: 5px;
  position: relative;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Set the position of the cards, deck, piles, and foundation */
#deck {
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  border: 2px dashed purple;
}

#piles {
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#foundation {
  margin: 10px 10px 100px 100px;
}
.card img{
  width: 100%;
  height: 100%;
}
.deck img{
  max-width: 100%;
  max-height: 100%;
}
.foundation img{
  width: 100%;
  height: 100%;
}
/* Set the styles for the foundation cards */
.foundation .card {
  margin: 0 10px 0 0;
}

.foundation .card:last-child {
  margin-right: 0;
}
.start-btn{
  font-size: 20px;
  background-color: dodgerblue;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

